// $mainColor:#243141;     //主色
$mainColor:white;
$bgColor:#ededef;       //背景色
// $decorateColor:#2dcc70;    //环保绿
$decorateColor:#fa4e4e;    //文艺红
// $decorateColor:#4f4f4f;    //高冷黑
// $decorateColor:#f82c8a; //少女粉
$fontColor : #777;//字体颜色

$emfontColor : #4f4f4f; //加深字体颜色

$shadow:0px 1px 2px rgba(0, 0, 0, 0.10);


/**
边框函数
@param $top $right $bottom $left border属性的上右下左宽度
*/
@mixin border ($top,$right,$bottom,$left,$style:solid,$color:#eee) {
    border-width:$top +px $right +px $bottom +px $left +px;
    border-style: $style;
    border-color:$color;
}

/**
过渡动画函数
@param $second 动画时间
*/
@mixin transition ($second:0.3) {
    transition: all $second +s;
    -moz-transition: all $second +s; /* Firefox 4 */
    -webkit-transition: all $second +s; /* Safari 和 Chrome */
    -o-transition: all $second +s; /* Opera */
}
